# API Configuration
VITE_API_URL=http://localhost:3333

# Authentication
VITE_AUTH_SECRET=your-auth-secret

VITE_RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI

# Feature Flags
VITE_ENABLE_BETA_FEATURES=false