# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema

# Prisma Database URL
DATABASE_URL="mysql://johndoe:randompassword@localhost:5432/poupapp?schema=public"

# JWT Secret
JWT_SECRET="your-super-secret-key"

# Frontend URL for CORS
FRONTEND_URL="http://localhost:5173"

# API Port
PORT=3333